/proyecto/IA-EncadenamientoDeReglasDelNegocio/nbproject/private/
/proyecto/IA-EncadenamientoDeReglasDelNegocio/build/
/proyecto/TestDroolsConBackwardsChaining/nbproject/private/
/proyecto/ReglasDelNegocioEncadenadas/nbproject/private/
/ProyectoFinal/nbproject/private/
/ProyectoFinal/build/